.container{
    display: flex;
    gap: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
.cor{
    background: #3f4d58;
}
ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
ul h2{
    text-align: center;
}
ul li{
    padding: 10px;
    width: 100%;
    max-width: 300px;
    background: #333;
}

.oculto{
    display: none;
}
